In [1]:
import pandas as pd

In [2]:
sheet_url = "https://docs.google.com/spreadsheets/d/1uo_oC3HfWpbV1FDQjrVdNyxgsEzDFs7qV3IUPa9N4kQ/edit#gid=0"
url_1 = sheet_url.replace( '/edit#gid=', '/export?format=csv&gid=')

In [3]:
df = pd.read_csv(url_1)

In [4]:
df

         419Carth AdeodatusSimidiccensis
0        418Carth   AemilianusAraditanus
1        419Carth    AlypiusThagastensis
2    401CarthSept    AlypiusThagastensis
3        403Carth    AlypiusThagastensis
4        418Carth    AlypiusThagastensis
..            ...                    ...
210      407Carth  VincentiusCulusitanus
211      418Carth  VincentiusCulusitanus
212     397Carth2          VitalisIgnoti
213        402Mil      XantippusNumidiae
214      407Carth      XantippusNumidiae

[215 rows x 2 columns]